# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.venv/
.env
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Outputs / artifacts
results_*/
runs_*/
*.png
*.csv
*.npz
*.pdf

# Models (если большие — исключите)
models/*.joblib
models/*.pkl
